
.something-header{
  color: white;
}

.something-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1%;
  height: 100vh;
}

.something-container-image{
  padding: 1px;
  border: 2px black;
  max-width: 99%;
}

.something-container-description{
  color: whitesmoke;
  padding: 1px;
  max-width: 99%;
  min-height: 100px;
  padding-bottom: 1em;
}
.something-container-description-line{
  padding-bottom: 0;
  margin-bottom: 0.1em;
}

.something-container-paginate{
  bottom: 10px;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

@media only screen and (min-width: 400px) {

  .something-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 750px) {

  .something-container{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {

  .something-container{
    grid-template-columns: repeat(4, 1fr);
  }
}
